<nav id="sidebar_coaching" class="col-sm-3 d-md-block bg-light sidebar collapse back-body">
    <div class="sticky-top pt-3 ">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active textC1" href="/" >Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1"  href="/coaching" >Coaching</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link textC1" href="/coaching/objectifs" >Objectifs</a>
            </li class="nav-item">
            <li>
                <a class="nav-link textC1" href="/coaching/public" >Le Public</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1" href="/coaching/methodes" >Méthodes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1" href="/coaching/approche" >Approche Personnalisée</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link textC1
                " href="/coaching/temoignages" >Témoignages</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link textC1
                " href="/equitation" >Enseignement</a>
            </li>
        </ul>
    </div>
</nav>