<nav id="sidebar_coaching" class="col-sm-3 d-md-block bg-light sidebar collapse back-body">
    <div class="sticky-top pt-3 ">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active textC1" href="/" >Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1"  href="/equitation" >Enseignement</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link textC1" href="/equitation/structure" >La Structure</a>
            </li class="nav-item">
            <li>
                <a class="nav-link textC1" href="/equitation/enseignement" >Les Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1" href="/equitation/public" >Le Public</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link textC1" href="/equitation/installation" >Nos Installations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1" href="/equitation/chevaux" >Nos Chevaux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textC1" href="/coaching" >Coaching</a>
            </li>

        </ul>
    </div>
</nav>