/* css de la page d'accueil pour positionner les carrés
et changer de position sur un écran inférieur à 720 px */
#rect1{
    width: 380px;
    height: 380px;
    background-color: #118a7e;
    margin-left: 20px;
    margin-top: 20px;
    /* margin-right: 20px; */
}

#texte1-1{
    font-size: 32px;
    text-align:start;
    color:#f9f9f9;
    position: relative;
    bottom: 320px;
    left: 40px;
}

#texte1-2{
    font-size: 26px;
    text-align:start;
    color:#f9f9f9;
    position: relative;
    bottom: 300px;
    left: 40px
}

#rect2{
    width: 380px;
    height: 380px;
    background-color: #3baea0;
    position: relative;
    bottom: 200px;
    left: 280px;
}

#texte2-1{
    font-size: 32px;
    /* text-align:end; */
    color:#000000;
    position: relative;
    bottom: 320px;
    left: 395px;
}
#texte2-1-1{
    font-size: 32px;
    text-align:start;
    color:#000000;
    position: relative;
    bottom: 410px;
    left:510px;
}
#texte2-2{
    font-size: 26px;
    text-align:start;
    color:#f000000;
    position: relative;
    bottom: 520px;
    left: 473px;
}
#texteMarieno{
    font-size: 40px;
    text-align:start;
    color:#04129b;
    position: relative;
    bottom: 700px;
    left: 145px;
}
#marienoCercle{
    position: relative;
    bottom: 1000px;
    left: 440px;                
}
#marienoCarre{
    position: relative;
    bottom: 615px;
    left: -130px;                
}
.fontNav{
    font-size: 22px;
    color:#04129b !important;
}
.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}
@media (max-width: 720px) {
    #rect1 {
        width: 90%;
        height: 200px;
        margin: auto;
        margin-top: 20px;
       background-color: #118a7e;
    }
    #rect2 {
        width: 90%;
        height: 200px;
        margin: auto;
        background-color: #3baea0;
        position: relative;
        bottom: 30px;
        left: 0px;
    }    

    #texte1-1{
        font-size: 24px;
        text-align:start;
        color:#f9f9f9;
        position: relative;
        bottom: 160px;
        left: 40px;
    }
    #texte1-2{
        font-size: 20px;
        text-align:start;
        color:#f9f9f9;
        position: relative;
        bottom: 120px;
        left: 40px;
    }
    #texte2-1{
        font-size: 24px;
        text-align:start;
        color:#000000;
        position: relative;
        bottom: 180px;
        left: 40px;
    }
    #texte2-1-1{
        font-size: 24px;
        text-align:start;
        color:#000000;
        position: relative;
        bottom: 240px;
        left: 40px;
    }                
    #texte2-2{
        font-size: 20px;
        text-align:start;
        color:#000000;
        position: relative;
        bottom: 190px;
        left: 40px;
    }
    
    #texteMarieno{
        font-size: 40px;
        text-align:start;
        color:#04129b;
        position: relative;
        bottom: 620px;
        left: 40px;
    }
    #marienoCercle{
    position: relative;
    bottom: 150px;
    left: 280px;                
    }
    #marienoCarre{
        position: relative;
        bottom: 150px;
        left: -130px;                
    }
}