<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/accueil.css">
</head>

<div class="container back-body">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 170 170">
            <g preserveAspectRatio="xMidYMin slice">
                <a href="/coaching/" style="text-decoration: none !important;">
                    <rect x="0" y="0" width="100" height="100" style="fill:#118a7e"/>
                    <text x="6" y="20" style="font-size:0.5em;fill:#f9f9f9;">Rencontrer le Cheval</text>
                    <text x="6" y="30" style="font-size:0.5em;fill:#f9f9f9;">Autrement</text>
                    <text x="6" y="55" style="font-size:0.4em;fill:#f9f9f9;">Équi-Coaching</text>
                </a>
            <a  href="/equitation/" style="text-decoration: none !important;">
                <rect x="70" y="70" width="100" height="100" style="fill:#3baea0"/>
                <text x="130" y="140" style="font-size:0.5em;">Pratiquer</text>
                <text x="100" y="150" style="font-size:0.5em; ">Le Sport Équestre</text>
                <text x="122" y="115" style="font-size:0.4em;">Enseignement</text>
            </a>>
            <a  href="/utilities/about/" style="text-decoration: none !important;">
                <text x="46" y ="85" style="font-size:0.54em;fill:#04129b;">Marie Noëlle Gachet</text>
            </a>    
            <image xlink:href="/svg/marienoChevaux.svg" alt="marieno et ses chevaux" height="45" width="45" x="12" y="112"/>
            <image xlink:href="/svg/marienoCercle.svg" alt="marieno et ses chevaux" height="45" width="45" x="112" y="12"/>
            
            </g>
            </svg>
        </div>
    </div>
</div>
