<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/accueil.css">
</head>

<div class="container py-5 back-body" >
    <div class="row justify-content-center">
        <div class="col-8">
            <div id="myCarousel" class="carousel  slide " data-bs-ride="carousel" >
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3200">
                        <img src=" /media/chevaux/poney.jpg" class="d-block img-fluid mx-auto w-100" alt="enseignant"  >
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    <img src="/media/chevaux/poney2.jpg" class="d-block mx-auto w-100" alt="travail" >
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/media/chevaux/poneys.jpg" class="d-block mx-auto w-100" alt="personne" >
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
            </div>
        </div>
    </div>
</div>
