<head>
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/accueil.css">
</head>

<div class="container back-body pt-5">
    <div class="row justify-content-center">
        <div class="col-6 text-center textSize1 border">
            <p class="textC1">À Saint-Gauzy, Marie-Noëlle a à cœur de vous faire partager sa passion pour les chevaux. </p>
            <p class="textC1">Ici, la relation entre le cavalier et son cheval est privilégiée aussi bien dans l'enseignement traditionnel que dans l'équi-coaching.</p>
            <p class="textC1">Que vous souhaitiez apprendre à monter ou bien vous perfectionner, vous profiterez de cours adaptés à votre niveau, grâce à un travail fondé sur la confiance et l'harmonie entre le cavalier et son cheval.  </p>
            <p class="textC1">Vous pourrez progresser dans votre développement et votre bien-être personnels en pratiquant la relaxation émotionnelle et en bénéficiant de l'équi-coaching.
            </p>
        </div>
    </div>
</div>
