<header>

    <div class="container-fluid text-center">
        <img class="img-fluid w-75" style="max-width: 800px text-center;" src="/media/header/chevaux-header-accueil.png"  alt="les chevaux de saint-gauzy">
    

        <nav class="text-center navbar navbar-expand-sm navbar-light backg1 ms-5" style="min-height:70px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class= "nav-link" href="/coaching/">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class= "nav-link" href="/equitation/">Équitation</a>
                </li>
                <li class="nav-item">
                    <a class= "nav-link" href="/blog/">Le Blog</a>
                </li>
                <li class="nav-item">
                    <a class= "nav-link" href="/utilities/about">Ma Page</a>
                </li>            
                <li class="nav-item">
                    <a class= "nav-link" href="/utilities/contact">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>