<header>
    
    <div class="container back-body ratio ratio-16x9 " style="background-image: url(/media/header/chevaux-header-accueil.png);  background-position: center;background-size: cover; background-repeat:no-repeat;background-attachment: local;opacity:0.99;  ">
        <h1 class="display-1  textC2" style="display: flex; align-items: center; justify-content: center;" ><strong>Les Chevaux de Saint-Gauzy</strong></h1>
    </div>
    <div class="container back-body menuheight" >  
        <div class="row justify-content-center">
            <nav class="text-center navbar navbar-expand-md navbar-light " >
                <button class="navbar-toggler menutext" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>    
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item menuspace ">
                            <a class= "   nav-link menutext" href="/coaching/">Coaching</a>
                        </li>
                        <li class="nav-item menuspace ">
                            <a class= "nav-link menutext "  href="/equitation/">Équitation</a>
                        </li>
                        <li class="nav-item menuspace">
                            <a class= "nav-link menutext " href="/blog/">Le Blog</a>
                        </li>
                        <li class="nav-item menuspace">
                            <a class= "nav-link menutext " href="/utilities/about">Ma Page</a>
                        </li>            
                        <li class="nav-item menuspace">
                            <a class= "nav-link  menutext" style="color: fuchsia;"href="/utilities/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>  
    </div>

</header>

