<header>
    <head>
        <link rel="stylesheet" href="{{ .Site.BaseURL}}css/accueil.css">
    </head>

    <div class="container">
        <div class="row  justify-content-center back-body-equitation py-4 ">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 800 308">
            <g preserveAspectRatio="xMidYMin slice">
                <image xlink:href="/svg/header-equitation.svg" alt="monte à cheval" height="305" width="800" x="0" y="0"/>
                <text x="90" y="80" style="font-size:3.2em;fill:#ff9700;">Les Chevaux de Saint-Gauzy</text>            
                <text x="200" y="200" style="font-size:3.2em;fill:#ff9700;">Enseignement</text>
            </g>
            </svg>
        </div>  
    </div>
    
</header>